html {
  font-size: 62.5%;
}
body {
  color: darkorange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.6rem;
}
div {
  background-color: darkgreen;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
  border: 3px solid black;
}
